<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="10x10" href="./static/assets/flavicon.ico">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Home</title>

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('static/assets/images/curse_of_strahd.jpg')"
></div>

<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Hi, I'm Jonas</h1>
      <p>Machine Learning engineer</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/skynetn1fan" title="">
          <i class="fab fa-github"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
      </p>
    </div>
  </header>
    <div class="card">
        <div class="card-block">
            <h2>Contact</h2>
            Thanks for reaching out. I will get in touch with you ASAP!
        </div>
    </div>
    <form action="index.html">
    <input type="submit" value="Home" />
</form>


     </div>
   </div>
 </div>
</main>